* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

a {
    text-decoration: none;
}

ul li {
    list-style-type:none;
}

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}