$azul-claro: #778da9;
$azul-oscuro: #0d3b66;
$gris-claro: #e0e1dd;
$gris-footer: #fff6;
$gris-titulo: #6f706c;
$background-color: #faf0ca;
$negro: black;
$blanco: white;
$celular: 650px;
$tablet:900px;